{% extends 'base.html' %}

{% block title %}
Patient Details
{% endblock %}

{% block content %}

{% include 'includes/sidebar.html' %}

<div class="main-content">

{% include 'includes/navbar.html' %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-primary text-white">
    <h4>👤 Patient Details</h4>
</div>

<div class="card-body">

<table class="table table-bordered">

<tr>
    <th width="30%">Patient ID</th>
    <td>{{ patient.patient_id }}</td>
</tr>

<tr>
    <th>Full Name</th>
    <td>{{ patient.full_name }}</td>
</tr>

<tr>
    <th>Age</th>
    <td>{{ patient.age }}</td>
</tr>

<tr>
    <th>Gender</th>
    <td>{{ patient.gender }}</td>
</tr>

<tr>
    <th>Blood Group</th>
    <td>{{ patient.blood_group }}</td>
</tr>

<tr>
    <th>Mobile</th>
    <td>{{ patient.mobile }}</td>
</tr>

<tr>
    <th>Email</th>
    <td>{{ patient.email }}</td>
</tr>

<tr>
    <th>Address</th>
    <td>{{ patient.address }}</td>
</tr>

<tr>
    <th>Disease</th>
    <td>{{ patient.disease }}</td>
</tr>

<tr>
    <th>Admission Date</th>
    <td>{{ patient.admission_date }}</td>
</tr>

</table>

<a href="{% url 'patient_list' %}" class="btn btn-secondary">
    ← Back
</a>

</div>

</div>

</div>

</div>

{% endblock %}