{% extends 'base.html' %}

{% block title %}
Doctor List
{% endblock %}

{% block content %}

{% include 'includes/sidebar.html' %}

<div class="main-content">

    {% include 'includes/navbar.html' %}

    <div class="container-fluid mt-4">

        <div class="card shadow">

            <div class="card-header bg-success text-white">
                <h4>👨‍⚕️ All Doctors</h4>
            </div>

            <div class="card-body">

               <form method="GET" class="row mb-3">

    <div class="col-md-5">

        <input
            type="text"
            name="q"
            value="{{ query }}"
            class="form-control"
            placeholder="Search Doctor Name">

    </div>

    <div class="col-md-2">

        <button type="submit" class="btn btn-primary w-100">
            🔍 Search
        </button>

    </div>

    <div class="col-md-2">

        <a href="{% url 'doctor_list' %}" class="btn btn-secondary w-100">
            Reset
        </a>

    </div>

    <div class="col-md-3">

        <a href="{% url 'add_doctor' %}" class="btn btn-success w-100">
            <i class="bi bi-plus-circle"></i>
            Add Doctor
        </a>

    </div>

</form> 

                     <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">

                        <thead class="table-dark">

                            <tr>

                                <th>Doctor ID</th>
                                <th>Full Name</th>
                                <th>Department</th>
                                <th>Specialization</th>
                                <th>Qualification</th>
                                <th>Gender</th>
                                <th>Experience</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Fee</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>

                        </thead>

                        <tbody>

                            {% for doctor in doctors %}

                            <tr>

                                <td>{{ doctor.doctor_id }}</td>
                                <td>{{ doctor.full_name }}</td>
                                <td>{{ doctor.department}}</td>
                                <td>{{ doctor.specialization }}</td>
                                <td>{{ doctor.qualification }}</td>
                                <td>{{ doctor.gender }}</td>
                                <td>{{ doctor.experience }} Years</td>
                                <td>{{ doctor.mobile }}</td>
                                <td>{{ doctor.email }}</td>
                                <td>{{ doctor.consultation_fee }}</td>
                                <td>{{ doctor.status }}</td>

                                <td>

                                    <div class="d-flex gap-2">

                                        <a href="{% url 'doctor_detail' doctor.id %}" class="btn btn-info btn-sm">
                                             👁 View
                                        </a>

                                        <a href="{% url 'edit_doctor' doctor.id %}" class="btn btn-warning btn-sm">
                                            ✏️ Edit
                                        </a>

                                        <a href="{% url 'delete_doctor' doctor.id %}" class="btn btn-danger btn-sm">
                                            ❌ Delete
                                        </a>

                                    </div>

                                </td>

                            </tr>

                            {% empty %}

                            <tr>

                                <td colspan="9" class="text-center">

                                    No Doctors Found

                                </td>

                            </tr>

                            {% endfor %}

                        </tbody>

                    </table>
                </div>


            </div>

        </div>

    </div>

</div>

{% include 'includes/footer.html' %}

{% endblock %}
