{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

{% include 'includes/sidebar.html' %}

<div class="main-content">

    {% include 'includes/navbar.html' %}

    <h2 class="text-center mb-4">
        🏥 Hospital Management System Dashboard
    </h2>

    <div class="row g-4">

        <!-- Patients -->
        <div class="col-md-3">
            <div class="card shadow p-3 text-center">
                <h1>👥</h1>
                <h2>{{ total_patients }}</h2>
                <h5>Total Patients</h5>
            </div>
        </div>

        <!-- Doctors -->
        <div class="col-md-3">
            <div class="card shadow p-3 text-center">
                <h1>👨‍⚕️</h1>
                <h2>{{ total_doctors }}</h2>
                <h5>Total Doctors</h5>
            </div>
        </div>

        <!-- Appointments -->
        <div class="col-md-3">
            <div class="card shadow p-3 text-center">
                <h1>📅</h1>
                <h2>{{ total_appointments }}</h2>
                <h5>Total Appointments</h5>
            </div>
        </div>

        <!-- Pending -->
        <div class="col-md-3">
            <div class="card shadow p-3 text-center">
                <h1>⏳</h1>
                <h2>{{ pending_appointments }}</h2>
                <h5>Pending Appointments</h5>
            </div>
        </div>

    </div>

</div>

{% endblock %}