{% extends 'base.html' %}

{% block title %}
Add Bill
{% endblock %}

{% block content %}

{% include 'includes/sidebar.html' %}

<div class="main-content">

    {% include 'includes/navbar.html' %}

    <div class="container mt-4">

        <div class="card shadow">

            <div class="card-header bg-primary text-white">

                <h4>💳 Generate Bill</h4>

            </div>

            <div class="card-body">

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <script>

                        function calculateTotal(){

                        let consultation =
                        parseFloat(document.getElementById("id_consultation_fee").value)||0;

                        let medicine =
                        parseFloat(document.getElementById("id_medicine_charge").value)||0;

                        let test =
                        parseFloat(document.getElementById("id_test_charge").value)||0;
                        
                        let other =
                        parseFloat(document.getElementById("id_other_charge").value)||0;

                        document.getElementById("id_total_amount").value =
                        consultation + medicine + test + other;

                        }

                        document.addEventListener("input",calculateTotal);

                    </script>

                    <button class="btn btn-success">

                        Save Bill

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% include 'includes/footer.html' %}

{% endblock %}