{% extends 'base.html' %}

{% block title %}
Add Bill
{% endblock %}

{% block content %}

{% include 'includes/sidebar.html' %}

<div class="main-content">

    {% include 'includes/navbar.html' %}

    <div class="container mt-4">

        <div class="card shadow">

            <div class="card-header bg-primary text-white">

                <h4>💳 Generate Bill</h4>

            </div>

            <div class="card-body">

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn btn-success">

                        Save Bill

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}