<!DOCTYPE html>
<html>
<head>
    <title>Print Bill</title>

    <style>
        body{
            font-family: Arial;
            margin:40px;
        }

        table{
            width:100%;
            border-collapse:collapse;
        }

        table,th,td{
            border:1px solid black;
        }

        th,td{
            padding:10px;
        }

        .center{
            text-align:center;
        }

        @media print{
            button{
                display:none;
            }
        }
    </style>

</head>

<body>

<h2 class="center">Hospital Management System</h2>

<h3 class="center">Medical Bill</h3>

<hr>

<table>

<tr>
<th>Bill ID</th>
<td>{{ bill.bill_id }}</td>
</tr>

<tr>
<th>Patient</th>
<td>{{ bill.patient.patient_id }} - {{ bill.patient.full_name }}</td>
</tr>

<tr>
<th>Doctor</th>
<td>{{ bill.doctor.doctor_id }} - {{ bill.doctor.full_name }}</td>
</tr>

<tr>
<th>Appointment</th>
<td>{{ bill.appointment.appointment_id }}</td>
</tr>

<tr>
<th>Total Amount</th>
<td>₹{{ bill.total_amount }}</td>
</tr>

<tr>
<th>Status</th>
<td>{{ bill.payment_status }}</td>
</tr>

</table>

<br>

<button onclick="window.print()" class="btn btn-success">
🖨 Print Bill
</button>

</body>
</html>