{% extends 'base.html' %}

{% block title %}
Edit Department
{% endblock %}

{% block content %}

{% include 'includes/sidebar.html' %}

<div class="main-content">

    {% include 'includes/navbar.html' %}

    <div class="container mt-4">

        <div class="card shadow">

            <div class="card-header bg-warning">
                <h4>✏ Edit Department</h4>
            </div>

            <div class="card-body">

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-success">
                        Update
                    </button>

                    <a href="{% url 'department_list' %}"
                       class="btn btn-secondary">

                        Cancel

                    </a>

                </form>

            </div>

        </div>

    </div>

</div>

{% include 'includes/footer.html' %}

{% endblock %}