{% extends 'base.html' %}

{% block title %}
Add Patient
{% endblock %}


{% block content %}

{% include 'includes/sidebar.html' %}

<div class="main-content">

{% include 'includes/navbar.html' %}


<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-primary text-white">
    <h4>
        ➕ Add New Patient
    </h4>
</div>


<div class="card-body">


<form method="POST">

{% csrf_token %}


<div class="row">


<div class="col-md-6 mb-3">
<label>Patient ID</label>
{{ form.patient_id }}
</div>


<div class="col-md-6 mb-3">
<label>Full Name</label>
{{ form.full_name }}
</div>


<div class="col-md-6 mb-3">
<label>Age</label>
{{ form.age }}
</div>


<div class="col-md-6 mb-3">
<label>Gender</label>
{{ form.gender }}
</div>


<div class="col-md-6 mb-3">
<label>Blood Group</label>
{{ form.blood_group }}
</div>


<div class="col-md-6 mb-3">
<label>Mobile</label>
{{ form.mobile }}
</div>


<div class="col-md-6 mb-3">
<label>Email</label>
{{ form.email }}
</div>


<div class="col-md-6 mb-3">
<label>Disease</label>
{{ form.disease }}
</div>


<div class="col-md-12 mb-3">
<label>Address</label>
{{ form.address }}
</div>


<div class="col-md-6 mb-3">
<label>Admission Date</label>
{{ form.admission_date }}
</div>


</div>


<button type="submit" class="btn btn-success">
Save Patient
</button>


<a href="/dashboard/" class="btn btn-secondary">
Cancel
</a>


</form>


</div>

</div>

</div>


</div>


{% endblock %}